.bottom {
    bottom: 100px;
    left: 50px;
    height: 10%;
    position: absolute;
}

li {
    text-indent: 60px;
    color: blue;
}

.lykketall {
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lykketalltxt {
    color: hotpink;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
